[is='flynt-grid-posts-homepage'] {
  padding-bottom: $spacing-large*2 !important;

  @media (max-width: $breakpoint-mobile) {
    padding-bottom: $spacing-large !important;
  }

  @media (max-width: $breakpoint-tablet) {
    padding-bottom: $spacing-small*2 !important;
  }

  .preContent {
    grid-column-end: 9;
    grid-column-start: 1;
    margin-bottom: $spacing-small*2;

    .sideTitle {
      grid-column-end: 9;
      grid-column-start: 1;
      text-align: left;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 1680px;
  }
  
  .grid {
    @include reset-list;
    grid-column-end: 9;
    grid-column-start: 1;
    margin: 0 auto;
    max-width: 1680px;
    padding: $spacing-large*3 $spacing-small/2;
    row-gap: $spacing-large;
    width: 100%;
    
    @media (max-width: $breakpoint-mobile) {
      margin: 0;
      max-width: 100%;
      padding-bottom: $spacing-large;
      padding-top: $spacing-large;
    }

    @media (max-width: $breakpoint-tablet) {
      grid-column-end: 9;
      grid-column-start: 1;
      padding-left: $spacing-large;
      padding-right: $spacing-large;
    }

    &-item {
      margin-bottom: $spacing-large*3;

      @media (max-width: $breakpoint-mobile) {
        margin-bottom: $spacing-large*3;
      }

      &:hover {
        .figure-image {
          overflow: hidden;
          transform: scale(1.1);
          transition: all 0.2s linear;
        }
      }

      &--expert-opinion {
        img {
          border-top: 10px solid $blue;
        }
      }
  
      &--industry-deep-dive {
        img {
          border-top: 10px solid $green;
        }
      }
  
      &--the-intel {
        img {
          border-top: 10px solid $lightgreen;
        }
      }
  
      &--innovator-spotlight {
        img {
          border-top: 10px solid $lime;
        }
      }
  
      &--two-truths {
        img {
          border-top: 10px solid $applegreen;
        }
      }
  
      &--news-feature,
      &--interview {
        img {
          border-top: 10px solid $orange;
        }
      }
  
      &--report {
        img {
          border-top: 10px solid $eggshell;
        }
      }
  
      &--state-of-play {
        img {
          border-top: 10px solid $blue;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    .figure {
      flex-grow: 1;
      overflow: hidden;
      transition: all 0.2s linear;
      width: 100%;

      &-image {
        aspect-ratio: 3/2;
        height: auto;
        margin: 0;
        object-fit: cover;
        position: static;
        transition: all 0.2s linear;
        width: 100%;
      }
    }

    .post-category {
      margin-bottom: $spacing-small;
      margin-top: $spacing-large;
    }

    &-inner {
      @include reset-content-margins;

      .button--link {
        font-family: 'NB Internaional', sans-serif;
      }
    }

    &-link {
      display: block;
      text-decoration: none;
    }
  }

  .allPostsLink {
    padding-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 3rem;
    }
  }
}
