[is='flynt-grid-all-posts'] {
  margin-top: 0;
  padding: 0 0 $spacing-large*3 !important;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 0;
    padding: 0 0 $spacing-large !important;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 0;
    padding: 0 0 $spacing-small*2 !important;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .filterSection {
    background-color: $eggshell;
    grid-column-end: 9;
    grid-column-start: 1;

    .content-title {
      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 0;
      }
    }

    &--inner {
      padding: $spacing-large;
    }

    .content-title {
      @media (max-width: $breakpoint-tablet) {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 0;
        width: 100%;

        &::after {
          content: '⌄';
          font-size: 1.2rem;
          position: relative;
          top: -5px;
          transform-origin: center center;
          transition: all 0.2s linear;
        }

        &.filters-open {
          &::after {
            content: '⌄';
            font-size: 1.2rem;
            position: relative;
            top: 5px;
            transform: rotate(180deg);
            transform-origin: center center;
            transition: all 0.2s linear;
          }
        }
      }
    }

    .alm-filters-container {
      @include reset-list;
      display: flex;
      flex-flow: row wrap;
      grid-column-end: 8;
      grid-column-start: 2;

      @media (max-width: $breakpoint-tablet) {
        display: none;
        flex-flow: column wrap;
        grid-column-end: 9;
        grid-column-start: 1;
      }
  
      .alm-filter--title h3 {
        font-family: 'NB International', sans-serif;
        font-size: 75%;
        font-weight: 400;
        margin-bottom: $spacing-small;
        position: relative;
        text-transform: uppercase;
        vertical-align: baseline;
      }

      .alm-filter--link {
        color: $black;
        cursor: pointer;
        font-family: 'NB International', sans-serif;
        font-size: 0.778rem;
        line-height: 1;
        min-height: 1rem;
        opacity: 0.5;
        padding: 0;
        text-transform: uppercase;
        width: fit-content;
  
        &.active {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
        }

        &::before,
        &::after {
          display: none;
        }

        .alm-filter-count {
          background-color: transparent;
          border-radius: 0;
          font-size: 75%;
          margin: 0;
          position: relative;
          top: -0.5em;

          &::before {
            content: '( ';
          }

          &::after {
            content: ' )';
          }
        }
      }

      #alm-filter-1 {
        flex-grow: 1;
        width: 42.5%;
  
        @media (max-width: $breakpoint-tablet) {
          margin-top: $spacing-small;
          width: 100%;
        }
  
        .alm-filter--inner ul {
          align-items: flex-start;
          column-gap: $spacing-small;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-top: $spacing-small;
          row-gap: $spacing-small/2;
  
          @media (max-width: $breakpoint-tablet) {
            display: flex;
            flex-flow: row wrap;
            margin-top: 0;
          }
        }
      }

      #alm-filter-2 {
        flex-grow: 1;
        padding-left: $spacing-large/2;
        width: calc(17.5% - 12.5px);

        @media (max-width: $breakpoint-tablet) {
          margin-top: $spacing-small;
          padding-left: 0;
          width: 100%;
        }

        .alm-filter--inner ul {
          grid-template-columns: 1fr;

          @media (max-width: $breakpoint-tablet) {
            display: flex;
            flex-flow: row wrap;
            margin-top: 0;
          }
        }
      }

      #alm-filter-3 {
        flex-grow: 1;
        padding-left: $spacing-large/2;
        width: calc(20% - 12.5px);

        @media (max-width: $breakpoint-tablet) {
          margin-top: $spacing-small;
          padding-left: 0;
          width: 100%;
        }

        .alm-filter--text-wrap {
          ::placeholder {
            color: $black;
            font-family: 'NB International', sans-serif;
          }

          [type='text'] {
            background: transparent;
            border-bottom: 1px solid $black;
            border-left: 0;
            border-radius: 0;
            border-right: 0;
            border-top: 0;
            font-family: 'NB International', sans-serif;
            height: 1rem;
            line-height: 1rem;
            padding: 0 0 $spacing-small/2;
          }
        } 
      }

      &--empty {
        grid-column-end: 9;
        grid-column-start: 8;

        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
      }

      [type='reset'] {
        padding: 0;
      }
    }
  }

  .ajax-load-more-wrap {
    grid-column-end: 9;
    grid-column-start: 1;
    margin: 0 auto;
    max-width: 1680px;
    padding: $spacing-large*3 $spacing-large/2;
    row-gap: $spacing-large;
    width: 100%;

    @media (max-width: $breakpoint-mobile) {
      margin: 0;
      max-width: 100%;
      padding-bottom: $spacing-large;
      padding-top: $spacing-large;
    }

    @media (max-width: $breakpoint-tablet) {
      grid-column-end: 9;
      grid-column-start: 1;
      padding-left: $spacing-large;
      padding-right: $spacing-large;
    }
  }

  .alm-listing {
    .css-grid {
      column-gap: $spacing-large;
      display: inline-grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: $spacing-large*2;

      @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        row-gap: $spacing-large;
      }
    }
  } 
  
  .grid {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }

    .post {
      display: inline;
      flex-grow: 1;
      float: left;
      margin: 0;

      &:hover {
        img {
          overflow: hidden;
          transform: scale(1.1);
          transition: all 0.2s linear;
        }
      }

      // &:nth-child(odd) {
      //   padding-right: $spacing-large/2;

      //   @media (max-width: $breakpoint-mobile) {
      //     padding-right: 0;
      //     width: 100%;
      //   }
      // }

      // &:nth-child(even) {
      //   padding-left: $spacing-large/2;

      //   @media (max-width: $breakpoint-mobile) {
      //     padding-left: 0;
      //     width: 100%;
      //   }
      // }

      // @media (max-width: $breakpoint-mobile) {
      //   width: 100%;
      // }

      &-category {
        margin-bottom: $spacing-small;
        margin-top: $spacing-large;
        pointer-events: none;
      }

      .premiumClass {
        color: $orange;
        display: none;
        margin-left: $spacing-small/2;
      }

      &--Premium {
        .premiumClass {
          display: inline-block;
        }
      }

      .featuredImage {
        flex-grow: 1;
        overflow: hidden;
        transition: all 0.2s linear;
        width: 100%;

        img {
          aspect-ratio: 3/2;
          height: auto;
          margin: 0;
          object-fit: cover;
          position: static;
          transition: all 0.2s linear;
          width: 100%;
        }
        
        figcaption {
          display: none;
        }
      }

      &-link {
        font-family: 'NB Internaional', sans-serif;
      }
    }

    &-item--Artist {
      .date {
        display: none;
      }
    }
  }

  .grid-filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: $spacing-large;
    width: 100%;

    @media (max-width: $breakpoint-tablet) {
      display: flex;
      flex-flow: row nowrap;
      overflow: scroll;
      padding: 0;
    }

    .filter {
      background-color: $white;
      color: $black;
      cursor: pointer;
      flex-grow: 0;
      text-align: center;
      text-decoration: none;
      width: 100px;

      @media (max-width: $breakpoint-tablet) {
        margin-bottom: $spacing-small;
      }


      &:hover {
        background-color: $black;
        color: $white;
        cursor: pointer;
        text-decoration: none;
      }

      &--active {
        background-color: $black;
        color: $white;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .post {
    &--expert-opinion {
      img {
        border-top: 10px solid $blue;
      }
    }

    &--industry-deep-dive {
      img {
        border-top: 10px solid $green;
      }
    }

    &--the-intel {
      img {
        border-top: 10px solid $lightgreen;
      }
    }

    &--innovator-spotlight {
      img {
        border-top: 10px solid $lime;
      }
    }

    &--two-truths {
      img {
        border-top: 10px solid $applegreen;
      }
    }

    &--news-feature,
    &--interview {
      img {
        border-top: 10px solid $orange;
      }
    }

    &--report {
      img {
        border-top: 10px solid $eggshell;
      }
    }

    &--state-of-play {
      img {
        border-top: 10px solid $blue;
      }
    }
  }

  // .ajax-load-more-wrap.infinite.fading-blocks>.alm-btn-wrap .alm-load-more-btn {
  //   background-image: url('/wp-content/plugins/ajax-load-more/core/img/eclipse.gif');
  // }
}
