.overlay {
  &-toggle {
    font-size: 1rem;
    left: calc(50vw - 105px);
    position: fixed;
    text-align: left;
    text-transform: uppercase;
    top: 40px;
    width: fit-content;
    z-index: 1001;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    @media (max-width: $breakpoint-tablet-horizontal) {
      left: auto;
      right: $spacing-small;
      top: $spacing-small;
    }
  }

  &-close {
    display: none;
    font-size: 1rem;
    left: calc(50vw - 80px);
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 40px;
    width: fit-content;
    z-index: 1003;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    @media (max-width: $breakpoint-tablet-horizontal) {
      left: auto;
      right: $spacing-small;
      top: $spacing-small;
    }
  }

  &-about {
    align-items: center;
    background-color: $green;
    color: $white;
    display: none;
    flex-flow: column;
    font-size: 2rem;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    padding: $spacing-large;
    position: fixed;
    top: 0;
    width: 50vw;
    z-index: 1002;

    @media (max-width: $breakpoint-tablet-horizontal) {
      bottom: 0;
      height: 100vh;
      padding: $spacing-large*2 $spacing-large $spacing-large $spacing-large;
      top: auto;
      width: 100vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      padding: $spacing-large $spacing-small $spacing-large $spacing-small;
    }

    .text {
      font-size: 1.5rem;
      margin-top: 20vh;
      overflow-y: scroll;
      padding: 0 $spacing-large*2 $spacing-large;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-top: $spacing-large*2;
        padding: 0;
      }
    }
  }
}
