.overlay {
  &-toggle {
    font-size: 1rem;
    left: calc(50vw - 105px);
    position: fixed;
    text-align: left;
    text-transform: uppercase;
    top: 40px;
    width: fit-content;
    z-index: 1011;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
    }

    @media (max-width: $breakpoint-tablet-horizontal) {
      left: auto;
      right: $spacing-small;
      top: $spacing-small;
    }
  }

  &-close {
    display: block;
    font-size: 1rem;
    left: calc(50vw - 100px);
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 40px;
    width: fit-content;
    z-index: 1003;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
    }

    @media (max-width: $breakpoint-tablet-horizontal) {
      align-items: flex-start;
      background-color: $green;
      display: flex;
      height: 70px;
      justify-content: center;
      left: auto;
      padding-top: $spacing-small;
      right: 0;
      top: 0;
      width: 10%;
    }
  }

  &-about {
    align-items: center;
    background-color: $green;
    color: $white;
    display: none;
    flex-flow: column;
    font-size: 2rem;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    overflow-y: scroll;
    padding: $spacing-large;
    position: fixed;
    top: 0;
    width: 50vw;
    z-index: 1002;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 100vh;
      padding: 0 $spacing-large $spacing-large*2 $spacing-large;
      width: 100vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      padding: 0 $spacing-small $spacing-large*2 $spacing-small;
    }

    .text {
      font-size: 1.2rem;
      margin-top: 20vh;
      padding: 0 $spacing-large*2 $spacing-large;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-top: $spacing-large*3;
        padding: 0 0 $spacing-large*2;
      }
    }

    a {
      color: $white;
    }
  }
}
