<div class="overlay-toggle"><div class="overlay-toggle--button small">About</div></div>
<div class="overlay-about">
    <div class="overlay-close"><div class="overlay-close--button small">Close</div></div>
    <div class="text">{{ aboutHtml|e('wp_kses_post')}}</div>
</div>
