@include font-face('Rhetorik Sans Regular', 'RhetorikSansRegular', '400', 'normal');
@include font-face('Rhetorik Sans Italic', 'RhetorikSansItalic', '400', 'italic');
@include font-face('Rhetorik Sans Light', 'RhetorikSansLight', '400', 'normal');
@include font-face('Rhetorik Sans Light Italic', 'RhetorikSansLightItalic', '300', 'italic');
@include font-face('Rhetorik Sans Medium', 'RhetorikSansMedium', '400', 'normal');
@include font-face('Rhetorik Sans Medium Italic', 'RhetorikSansMediumItalic', '500', 'italic');
@include font-face('Rhetorik Serif Regular', 'RhetorikSerifRegular', '400', 'normal');
@include font-face('Rhetorik Serif Italic', 'RhetorikSerifItalic', '400', 'italic');
@include font-face('NB International', 'NBInternationalProRegular', '400', 'normal');

.mce-content-body {
  background-color: #dedede;
}

#tinymce {
  h1,
  .h1 {
    font-family: 'Rhetorik Sans Regular', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
  }

  h2,
  .h2 {
    font-family: 'Rhetorik Sans Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
  }

  p,
  .p
  .paragraph {
    font-family: 'Rhetorik Serif Regular', serif;
    font-size: 18px;
    margin: 0;
    margin-block-end: 1.2rem;
    margin-block-start: 0;
  }

  li {
    font-family: 'Rhetorik Serif Regular', serif;
    font-size: 18px;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
  }

  .sans {
    font-family: 'Rhetorik Sans Regular', sans-serif;
    font-size: 18px;
    margin: 0;
    margin-block-end: 1.2rem;
    margin-block-start: 0;
  }

  .small {
    font-family: 'NB International', sans-serif;
    font-size: 16px;
    margin: 0 0 $spacing-small;
    text-transform: uppercase;
  }

  button,
  .button {
    appearance: none;
    background-color: $black;
    border: 1px solid $black;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: 'NB International', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: $spacing-small $spacing-large;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s linear;
    user-select: none;

    &:disabled,
    &--disabled {
      cursor: default;
      opacity: 0.65;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $black;
      color: $black;
    }
  }

  blockquote,
  .blockquote {
    font-size: inherit;
    font-style: italic;
    font-weight: 400;
    letter-spacing: inherit;
    line-height: inherit;
    text-align: center;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
