/* Custom styling for homepage */

.page-coming-soon {
  .mainHeader,
  .mainFooter {
    display: none;
  }

  body {
    padding: 0;
  }

  .flyntComponent {
    margin-bottom: 0;
    padding: 0;

    &-listSocial {
      bottom: 0;
      padding: $spacing-small;
      position: fixed;
      right: 0;
      width: 100vw;
      z-index: 1004;
    }
  }
}
