/**
* 7.0 Paid Membership Pro
*
* 7.1 Page Login
*/

.pmpro-login {
  &.logged-in {
    .flyntComponent--shortcode:first-child {
      grid-column-end: 4 !important;
      grid-column-start: 2;

      @media (max-width: $breakpoint-mobile) {
        grid-column-end: 5;
        grid-column-start: 1;
      }
    }

    .flyntComponent--shortcode:last-child {
      display: none;
    }
  }

  &:not(.logged-in) {
    .flyntComponent--shortcode:first-child {
      a {
        &.button {
          display: none;
        }
      }
    }
  }

  .mainContent {
    column-gap: $spacing-large;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 100%;

    .flyntComponent--shortcode {
      &:first-child {
        grid-column-end: 3;
        grid-column-start: 2;

        @media (max-width: $breakpoint-mobile) {
          grid-column-end: 5;
          grid-column-start: 1;
        }
      }

      &:last-child {
        grid-column-end: 4;
        grid-column-start: 3;

        @media (max-width: $breakpoint-mobile) {
          grid-column-end: 5;
          grid-column-start: 1;
        }
      }

      label {
        text-align: center !important;
      }
    }

    .pmpro_actions_nav {
      a {
        text-decoration: none;
      }
    }

    .pmpro_member_display_name {
      font-size: 1.4rem;
      line-height: 1.2;
      margin-bottom: 1.4rem;
      padding-top: 0;

      @media (min-width: $breakpoint-mobile) {
        font-size: 1.778rem;
        margin-bottom: 1.778rem;
      }
    }

    .pmpro_login_wrap {
      hr {
        display: none;
      }

      [type='submit'] {
        margin: 0 auto;
        text-align: center !important;
        width: fit-content !important;
      }
    }

    .pmpro_lost_password_wrap {
      hr {
        display: none;
      }

      [type='submit'] {
        margin-bottom: $spacing-large;
        text-align: center !important;
        width: fit-content !important;
      }
    }

    .pmpro_member_log_out {
      a {
        appearance: none;
        background-color: $black;
        border: 1px solid $black;
        border-radius: 0;
        color: $white !important;
        cursor: pointer;
        display: inline-block;
        font-family: 'NB International', sans-serif !important;
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        padding: $spacing-small $spacing-large;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s linear;
        user-select: none;
  
        &:disabled,
        &--disabled {
          cursor: default;
          opacity: 0.65;
          pointer-events: none;
        }
  
        &:hover,
        &:focus {
          background-color: transparent;
          border-color: $black;
          color: $black !important;
        }
      }
      
    }
  }
}
