/* Custom styling for exhibition posts */

.single-event {
  .post {
    &-header {
      border-bottom: 1px solid $black;
      column-gap: $spacing-small;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-bottom: $spacing-small;

      @media (max-width: $breakpoint-mobile-horizontal) {
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        row-gap: $spacing-small;
      }

      .date {
        grid-column-end: 2;
        grid-column-start: 1;

        @media (max-width: $breakpoint-mobile-horizontal) {
          grid-column-end: 2;
          grid-column-start: 1;
          grid-row-end: 2;
          grid-row-start: 1;
        }
      }

      .venue {
        grid-column-end: 3;
        grid-column-start: 2;

        @media (max-width: $breakpoint-mobile-horizontal) {
          grid-column-end: 3;
          grid-column-start: 2;
          grid-row-end: 2;
          grid-row-start: 1;
        }
      }

      .title {
        grid-column-end: 5;
        grid-column-start: 3;

        @media (max-width: $breakpoint-mobile-horizontal) {
          grid-column-end: 2;
          grid-column-start: 1;
          grid-row-end: 3;
          grid-row-start: 2;
        }
      }

      p {
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
      }
    }

    &-main {
      column-gap: $spacing-small;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: auto;
      min-height: calc(100vh - 170px);
      padding: $spacing-small 0;

      @media (max-width: $breakpoint-mobile-horizontal) {
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        height: auto;
        min-height: calc(100vh - 145px);
        row-gap: $spacing-small;
      }

      .flyntComponent {
        padding-bottom: $spacing-small;

        &--wysiwyg {
          border-top: 1px solid $black;
          padding-top: $spacing-small;

          &:first-child {
            border-top: 0;
            padding-top: 0;
          }
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
      
      
      
      .artist-meta {
        align-items: flex-start;
        column-gap: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        padding: $spacing-small 0;
        width: 100%;

        &_slider {
          grid-column-end: 2;
          grid-column-start: 1;
        }

        &_socials {
          display: flex;
          flex-flow: column wrap;
          grid-column-end: 3;
          grid-column-start: 2;
          text-transform: uppercase;

          a {
            text-decoration: none;
            text-transform: uppercase;
            width: fit-content;

            &:hover,
            &:focus {
              text-decoration: underline;
            }

            &::before {
              content: '>';
              margin-right: $spacing-small / 2;
            }
          }
        }

        &_bio {
          grid-column-end: 3;
          grid-column-start: 5;
        }
      }
    
      .componentSpacing {
        margin: $component-spacing-mobile/2 0;
        padding: 0 $spacing-small;
  
        @media (min-width: $breakpoint-tablet) {
          margin: $component-spacing-desktop/2 0;
          padding: 0 $spacing-small;
        }
  
        @media (min-width: $breakpoint-desktop) {
          margin: $component-spacing-desktop/2 0;
          padding: 0 $spacing-large;
        }
  
        &[class*='theme'] {
          margin: 0;
          padding: $component-spacing-mobile/2 0;
  
          @media (min-width: $breakpoint-tablet) {
            padding: $component-spacing-desktop/2 0;
          }
  
          @media (min-width: $breakpoint-desktop) {
            padding: $component-spacing-desktop/2 0;
          }
        }
      }
  
      > .componentSpacing {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
