/* Custom styling for exhibition posts */

.single-artist {
  .post {
    &-header {
      border-bottom: 1px solid $black;

      h1 {
        text-transform: uppercase;
      }
    }

    &-main {
      display: flex;
      flex-flow: column wrap;
      height: auto;
      // min-height: calc(100vh - 240px);

      @media (max-width: $breakpoint-mobile-horizontal) {
        height: auto;
        // min-height: calc(100vh - 120px);
      }
      
      .artist-meta {
        align-items: flex-start;
        column-gap: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        padding: $spacing-small 0;
        width: 100%;

        &_slider {
          grid-column-end: 2;
          grid-column-start: 1;
        }

        &_socials {
          display: flex;
          flex-flow: column wrap;
          grid-column-end: 3;
          grid-column-start: 2;
          text-transform: uppercase;

          a {
            text-decoration: none;
            text-transform: uppercase;
            width: fit-content;

            &:hover,
            &:focus {
              text-decoration: underline;
            }

            &::before {
              content: '>';
              margin-right: $spacing-small / 2;
            }
          }
        }

        &_bio {
          grid-column-end: 3;
          grid-column-start: 5;
        }
      }
    
      .componentSpacing {
        margin: $component-spacing-mobile/2 0;
        padding: 0 $spacing-small;
  
        @media (min-width: $breakpoint-tablet) {
          margin: $component-spacing-desktop/2 0;
          padding: 0 $spacing-small;
        }
  
        @media (min-width: $breakpoint-desktop) {
          margin: $component-spacing-desktop/2 0;
          padding: 0 $spacing-large;
        }
  
        &[class*='theme'] {
          margin: 0;
          padding: $component-spacing-mobile/2 0;
  
          @media (min-width: $breakpoint-tablet) {
            padding: $component-spacing-desktop/2 0;
          }
  
          @media (min-width: $breakpoint-desktop) {
            padding: $component-spacing-desktop/2 0;
          }
        }
      }
  
      > .componentSpacing {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
