/* Custom styling for exhibition posts */

.single-podcast {
  .post {
    &-header {
      border-bottom: 1px solid $black;
      column-gap: $spacing-small;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: $spacing-small;

      p {
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
      }
    }

    &-main {
      display: flex;
      flex-flow: column wrap;
      height: auto;
      min-height: calc(100vh - 170px);

      @media (max-width: $breakpoint-mobile-horizontal) {
        height: auto;
        min-height: calc(100vh - 145px);
      }
    }
  }
}
