<div class="flyntComponent boxed" id="{{ options.sectionId|lower|replace({' ': '-'})}}" is="flynt-block-wysiwyg-two-col">
  <div class="container gridLayout">
    <div class="content content-title">{{ options.sectionId }}</div>
    <div class="content content-left">
      <div>{{ contentHtmlLeft|e('wp_kses_post') }}</div>
    </div>
    <div class="content content-right">
      <div>{{ contentHtmlRight|e('wp_kses_post') }}</div>
    </div>
  </div>
</div>
