[is='flynt-block-post-object'] {
  .container {
    grid-column-end: 7;
    grid-column-start: 3;

    @media (max-width: $breakpoint-tablet) {
      grid-column-end: 9;
      grid-column-start: 1;
    }

    .preContent {
      margin-bottom: $spacing-large*2;
      text-align: left;

      @media (max-width: $breakpoint-tablet) {
        margin-bottom: $spacing-large;
      }
    }
    
    .table {
      display: grid;
      grid-template-columns: 1fr;
      // row-gap: $spacing-large;

      .row {
        border-bottom: 1px solid $black;
        column-gap: $spacing-large;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5px;
        padding-top: 6px;
        // row-gap: $spacing-large;

        &:first-child {
          .column-right {
            font-weight: bold;
          }
        }

        &:last-child {
          border-bottom: 0;
        }

        .column {
          &-left {
            font-family: 'NB International', sans-serif;
            font-size: 0.889rem;
            // line-height: 1.5;
            padding-left: $spacing-small;
            text-transform: uppercase;
          }

          &-right {
            font-size: 0.889rem;
            // line-height: 1.5;
            padding-left: $spacing-small;
          }
        }
      }
    }
  }
}
